////////////////////////////////////////////////////////////////////////////////
// Settings bar
// A bar element which contains multiple settings which the yser can toggle
// between to make the app more suitable for them
////////////////////////////////////////////////////////////////////////////////

.settings
  color: $brand-blue-500
  display: flex
  flex-direction: column
  font-size: $paragraph
  margin-top: 3rem

  &__item
    align-items: center
    display: flex
    margin-bottom: 1rem

    &:last-child
      margin-bottom: 0

    &__name
      margin: 0 1rem 0 0

    button
      background: $brand-blue-500
      border: 0
      border-radius: .3rem
      color: $brand-white
      font-family: $font-family-base
      font-size: $paragraph
      margin-right: .5rem
      padding: .5rem 1rem
      transition: opacity .25s ease

      &:last-of-type
        margin-right: 0

      &:focus
        outline: 0

      &:hover
        cursor: pointer

      &.inactive
        opacity: .5

        &:hover
          opacity: .75
